.home-launch {
  width: min(calc(100% - 32px), clamp(680px, 64%, 920px));
  margin: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (max-width: 767px) {
  .home-launch {
    width: calc(100% - 32px);
    padding-bottom: 24px;
  }
}
